body{
    font-family:Tahoma;
    color: #f5f6f7;
    background-color: #1b1b32
}

.intro {
    color: grey;
    border-style: hidden;
}

label {
/*this blocks the checkbox line, need to overwrite*/
display: block;
/*outline: 3px solid  red;*/
}
.unstyle-label {
 width: 50%;
 display: inline
}

form {
margin: 0 auto;
max-width: 500px;
min-width: 300px;
width: 100vw;
}
fieldset {
 border: 0;
 border-bottom: 3px solid #3b3b4f
}

input {
 /*this blocks the checkbox sign, need to overwrite*/
 width: 100%;
 background-color: #3b3b4f;
 margin: 2px 0 10px 0;
}
.inline {
 width: unset;
}


.input-checkmark {
 width: 5%
}


.label-checkmark {
display: inline;
}

input {
    color:white;
}